/* Write your CSS here */
.button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  background-color: #382f5a;

  font-family: 'Roboto';
  font-size: 18px;
  color: #c4c4c4;
}
